<h1>WELCOME TO ANGULAR 6</h1>
<ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="add">ADD Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="show">SHOW Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">SEARCH Employee</a>
        </li>
      </ul>

      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar w/ text</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul>
              <span class="navbar-text">
                Navbar text with an inline element
              </span>
            </div>
          </nav> -->


<!-- 
<nav>
    <a href="add">ADD Employee</a>
    <a href="show">SHOW Employee</a>
    <a href="search">SEARCH Employee</a>
</nav> -->

<router-outlet></router-outlet>